torch==1.7.1
numpy==1.19.5
gym==0.15.4
pybullet==3.0.8
Cython==0.29.21
scikit-learn==0.21.3
ribs==0.4.0
matplotlib==3.3.4
seaborn==0.11.2
pandas==1.1.5
GPUtil==1.4.0
psutil==5.9.0
tabulate==0.8.9
python-gitlab==2.10.1
