torch==1.7.1
numpy==1.19.5
gym==0.15.4
pybullet==3.0.8
Cython==0.29.21
scikit-learn==0.21.3
ribs
git+https://gitlab.doc.ic.ac.uk/AIRL/students_projects/2019-2020/olle_nilsson/QDgym.git#egg=QDgym
git+https://gitlab.doc.ic.ac.uk/AIRL/research_projects/manon_flageat/qdgym-deterministic.git#egg=QDgymDeterministic
matplotlib
seaborn
pandas
GPUtil
psutil
brewer2mpl
tabulate
python-gitlab
